# Avoid some files
archives/
compilation/
materials/
release_files/
checker/release/
checker/debug/
lib_packbinaries/release/
lib_packbinaries/debug/
updater/release/
updater/debug/
*.pro.user
Makefile*
*.debug
*.release
*.7z

