# Avoid some files
archives/
compilation/
materials/
release_files/
checker/release/
checker/debug/
lib_packbinaries/release/
lib_packbinaries/debug/
updater/release/
updater/debug/
svn736_files/
*.pro.user
Makefile*
*.debug
*.release
*.7z
*.qm
AND2_CHECKER_VX.X.7z
AND2_installer.exe
AND2_full_installer.exe
PrepareRelease.bat

checker/lang/tx.exe
launcher.pro.user.3.2-pre1
*.o
*_plugin_import.cpp
